.iaq-container-mini {
    width: 343px;
    height: 64px;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    cursor: pointer;
    text-decoration: none !important;
    &.iaq-light {
        background: $lightBg;
        border:  2px solid #f0f0f0;
        color: $darkText;
        [data-unit] {
            color: rgba(2, 20, 73, 0.4)
        }
        &.gradient {
            background: $lightGradient;
        }
    }
    &.iaq-light-2 {
        background: $lightBg;
        border: 2px solid $darkText;
        color: $darkText;
        [data-unit] {
            color: rgba(2, 20, 73, 0.4)
        }
        &.gradient {
            background: $lightGradient;
        }
    }
    &.iaq-blue {
        background: $blueBg;
        color: $lightText;
        [data-unit] {
            color:  rgba(255, 255, 255, 0.4);
        }
        &.gradient {
            background: $blueGradient;
        }
        .iaq-indicator {
            &.iaq-measurement-icon {
                svg {
                    height: 48px;
                    width: 48px;
                }
                path {
                    fill: $lightText;
                }
            }
          
        }
    }
    &.iaq-dark {
        background: $darkBg;
        color: $lightText;
        [data-unit] {
            color: rgba(255, 255, 255, 0.4);
        }
        &.gradient {
            background: $darkGradient;
        }
        .iaq-indicator {
            &.iaq-measurement-icon {
                path {
                    fill: $lightText;
                }
            }
          
        }
    }
    .iaq-indicator {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
    .iaq-measurement-details {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .iaq-measurement-name {
            line-height: 28px;
            font-size: 18px;
            // font-weight: 400;
            [data-unit] {
                font-size: 12px;
            }
        }
        .iaq-measurement-indicator {
            line-height:20px;
            font-size: 14px;
        }
    }
    .iaq-logo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 25%;
        > * {
            margin-right: 19.2px;
        }
        .iaq-logo-measurement {
            font-size: 14px;
            line-height: 20px;
        }
        &.iaq-light {
            path {
                fill: $logoLight;
            }
            
        }
        &.iaq-dark {
            path {
                fill: $logoDark;
            }
        }
    }
}