@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$defaultFont: 'Roboto', sans-serif;
$lightBg: #ffffff;
$darkText: #021449;
$lightText: #ffffff;
$indicatorText: #02C39A;
$logoDark: #1D213C;
$logoLight: #FFFFFF;
$blueBg: #3456F7;
$darkBg: #25294A;

$scoreExcellent: #02C39A;
$scoreModerate: #FFCA3A;
$scorePoor: #FF5050;

$darkGradient: linear-gradient(136.04deg, #25294A 11.89%, #020308 149.83%);
$lightGradient: linear-gradient(123.1deg, #FFFFFF 24.7%, #D4D4D4 151.23%, #D4D4D4 151.23%);
$blueGradient: linear-gradient(125.06deg, #3456F7 26.15%, #00188A 141.6%);

.iaq-container-parent {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: $defaultFont;
    font-weight: 400;
    font-style: normal;
    display: flex;
    .iaq-score-moderate {
        color: $scoreModerate;
    }
    .iaq-score-excellent {
        color: $scoreExcellent;
    }
    .iaq-score-poor {
        color: $scorePoor;
    }
    .iaq-dark-text {
        color: $darkText;
    }
    .iaq-light-text {
        color: $lightBg;
    }
    [data-radial-graph]{
        overflow: visible;
    }
    @import './container_small.scss';
    @import './container_mini.scss';
    @import './container_medium.scss';
    @import './container_large.scss'
}